.s-home h2 {
  margin-bottom: 0.5em;
}
#footer .icons li {
  padding: 0;
  margin-right: 0.5em;
}
#footer .icons li:last-child {
  margin-right: 0;
}
#footer .icons li a {
  min-width: 3em;
  min-height: 3em;
  display: block;
  text-align: center;
}
#footer .icons li a:before {
  vertical-align: middle;
  line-height: 2;
}
#footer .icons li a:after {
  content: '';
  border: solid 1px rgba(255,255,255,0.4);
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.recent-posts li {
  font-size: 125%; /*20px*/
  line-height: 1.6;
  padding-left: 0;
  margin-bottom: 0.4em;
}
.recent-posts li:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1800px) {
  .recent-posts {
    list-style-type: none;
  }
}
@media screen and (max-width: 1800px) {
  .recent-posts {
    list-style-type: none;
  }
}
@media screen and (max-width: 980px) {
  #sidebar ul {
    padding-left: 0;
  }
  #sidebar ul li {
    padding-left: 0;
  }
}
